      body {
         justify-content: center;
         font-family: sans-serif;
         font-size: 1.2vw;
         line-height: 1.6;
         background-color: #ffffff;
         margin: 0px;
         background-image: url("../media/beebgrustiger.png");
      }

      header {
         text-decoration: none;
         position: sticky;
         top: 0;
         background-color: rgb(227, 238, 245);
         color: rgb(0, 0, 0);
         padding: 1em;
         z-index: 100;
         width: 100%;
         border-bottom: 1px solid grey;
         font-size: 2vw;
      }

      nav a {
         text-decoration: none;
      }

      main {
         padding-left: 2vw;
         padding-right: 2vw;
         margin: 0 auto;
      }

      footer {
         padding-left: 2vw;
         padding-right: 2vw;
         padding-top: 5vw;
         font-size: 1.2vw;
      }

      h1 {
         border-top: 2px solid #bebebe;
         ;
         padding-top: 10px;
         padding-bottom: 10px;
         border-bottom: 2px solid #bebebe;
         color: #000000;
      }

      hr {
         color: #bebebe;
      }

      ul li {
         list-style-type: disc;
         padding: 5px 20px 5px;
      }

      .inleiding {
         background-color: rgb(227, 238, 245);
         padding: 15px 40px 15px;
      }

      a:link {
         color: rgb(0, 0, 0);
         background-color: transparent;
      }

      a:visited {
         color: rgb(0, 0, 0);
         background-color: transparent;
      }

      #zero {
         font-size: 2.2vw;
      }

      .linkbox-container-nowrap {
         display: flex;
         justify-content: center;
         flex-wrap: nowrap;
      }

      .linkbox-container-wrap {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
      }

      .linkbox {
         width: 250px;
      }

      .imagelinks {
         margin-bottom: 0px;
         border: 1px solid gray;
         border-radius: 2px;
      }

      .linkbox-container-nowrap .imagelinks img {
         max-width: 100%;
         height: auto;
      }

      .linkbox-container-wrap .imagelinks img {
         max-width: 100%;
         height: auto;
      }

      .textlinks {
         text-align: center;
      }

      .textlinks a {
         text-decoration: none;
      }

      .textlinks a:hover {
         text-decoration: underline;
      }

      .tooltip {
         cursor: pointer;
         position: relative;
      }

      .tooltiptext {
         visibility: hidden;
         font-size: 1.0vw;
         width: 150px;
         background-color: black;
         color: #ffffff;
         text-align: center;
         border-radius: 6px;
         padding: 5px 0;
         position: absolute;
         z-index: 1;
         bottom: 100%;
         left: 65%;
         margin-left: -65px;
      }

      .imagelinks:hover .tooltiptext {
         visibility: visible;
      }

      .textlinks:hover .tooltiptext {
         visibility: visible;
      }

      .container-embedded-content {
         position: relative;
          /* creates a 16:9 aspect ratio (9 / 16 = 0.5625) */
         padding-bottom: 56.25%;
         height: 0;
         overflow: hidden;
         max-width: 100%;
         margin: 0 auto;
      }

      .embedded-content {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border: none;
      }

      .dark {
         background-color: rgb(227, 238, 245);
         padding: 5px 20px 5px;
      }

      @media screen and (min-width: 300px) {
         body {
            font-size: 4vw;
         }
         header {
            font-size: 3vw;
         }
         main {
            padding-left: 4vw;
            padding-right: 4vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 400px) {
         body {
            font-size: 3vw;
         }
         main {
            padding-left: 4vw;
            padding-right: 4vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 500px) {

         body,
         header {
            font-size: 2.7vw;
         }
         main,
         .footer {
            padding-left: 2vw;
            padding-right: 2vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 600px) {

         body,
         header {
            font-size: 2.3vw;
         }
         main,
         footer,
         .footer {
            padding-left: 2.3vw;
            padding-right: 2.3vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 700px) {

         body,
         header {
            font-size: 2.0vw;
         }
         main,
         footer,
         .footer {
            padding-left: 3.5vw;
            padding-right: 3.5vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 800px) {
         body,
         header {
            font-size: 1.8vw;
         }
         main,
         footer,
         .footer {
            padding-left: 4.8vw;
            padding-right: 4.8vw;
         }

         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 900px) {

         body,
         header {
            font-size: 1.6vw;
         }
         main,
         footer,
         .footer {
            padding-left: 6.1vw;
            padding-right: 6.1vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 1000px) {
         body,
         header {
            font-size: 1.4vw;
         }
         main,
         footer,
         .footer {
            font-size: 1.3vw;
            padding-left: 9vw;
            padding-right: 9vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 1100px) {
         body,
         header {
            font-size: 1.2vw;
         }
         main,
         footer,
         .footer {
            font-size: 1.2vw;
            padding-left: 14vw;
            padding-right: 14vw;
         }

         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         }
      }

      @media screen and (min-width: 1200px) {
         body,
         header {
            font-size: 1.0vw;
         }
         main,
         footer,
         .footer {
            font-size: 1.1vw;
            padding-left: 19vw;
            padding-right: 19vw;
         }
         footer {
            font-size: 1vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
         }
      }

      @media screen and (min-width: 1700px) {
         body,
         header {
            font-size: 0.9vw;
         }
         main,
         .footer {
            font-size: 1.0vw;
            padding-left: 19vw;
            padding-right: 19vw;
         }
         footer {
            font-size: 0.9vw;
            padding-left: 19vw;
            padding-right: 19vw;
         }
         .linkbox-container-nowrap {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
         }
         .quicklink-container {
            display: flex;
            justify-content: center;
         }
      }